@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Inter", "Roboto", system-ui;
  --font-mono: "Inter", monospace;
}

.dark {
  --background: #0f1115;
  --foreground: #e8e6df;
}

@media (prefers-color-scheme: dark) {
  :root:not(.light):not(.dark) {
    --background: #0f1115;
    --foreground: #e8e6df;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
